@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", serif;
}

/* Dark mode styles */
body.dark {
  --background: #171717;
  --foreground: #ededed;
  background-color: var(--background);
  color: var(--foreground);
}

/* Light mode fallback */
body:not(.dark) {
  --background: #fff;
  --foreground: #333;
  background-color: var(--background);
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
